.homepagecontainer{
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-flow: row wrap;
    background-color: rgba(255, 85, 249, 0.681);
}
.homeblock{
    display: flex;
    color: black;
    width: auto;
    height: 350px;
    margin:2em;
    width: 550px;
    border-style: dotted;
    border-width: 2px;
    border-color: darkmagenta;
}

.homepara{
    text-align: left;
    color: black;
    min-width: 45%;

}
.homeimg{
   color: black;
    max-width: 50%;
}
