.libaryContainer{
	display: flex;
	flex-flow: row wrap;
	align-items:flex-start;
    justify-content: center;
}
.libaryItem {
	background-color: rgba(0, 255, 183, 0.585);
	width: 550px;
	height: 480px;
	border-style: dashed;
	border-width: 0.15em;
	margin:0.15em;
}
.ItemImage{
 width: 240px;
 height: 240px;
}
.ItemText {
	width: auto;
	margin-left: 5px;
}