.headcontainer{
    width: 100%;
    background-color: rgba(255, 82, 206, 0.638);
}
.homebutton{
    margin-top: 1em;
    margin-left: 1em;
    display: block;
    position: absolute;
    width: auto;
    height: 36px;
    text-align: center;
}
.navcontainer {
    display: flex;
    justify-content: flex-end;
    background-color: lightpink;
    flex-wrap: nowrap;
    align-items: center;
    height: 4em;
    width: 100%;
}
.navitem{
    text-align: center;
    margin: 1em;
    height: 1.5em;
    width: 60px;
    border-style: dotted;
    border-radius: 2px;
    border-width: 3px;  
}
.pagetitle{
    text-align: center;
    width: 100%;
}
