.headcontainer{
    width: 100%;
    background-color: rgba(255, 82, 206, 0.638);
}
.homebutton{
    margin-top: 1em;
    margin-left: 1em;
    display: block;
    position: absolute;
    width: 120px;
    max-width: 20%;
    height: 36px;
    text-align: center;
}
.navcontainer {
    
    display: flex;
    justify-content: flex-end;
    background-color: lightpink;
    align-items: center;
    flex-wrap: wrap;
    height: 4em;
    width: 100%-120px;
    margin-left: 120px;
}
.navitem{
    margin-right: 1em;
    text-align: center;
    height: 1.5em;
    width: 120px;
    min-width: 100px;
    border-style: dotted;
    border-radius: 2px;
    border-width: 3px;  
}
.pagetitle{
    text-align: center;
    width: 100%;
}
.navcontainer a{
background-color: blanchedalmond;
}
#navcontact{
    margin-right: 1em;
}